.productMenu_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productMenu_container h3{
    font-size: 36px;
    font-weight: 800;
    color: #000;
}
.menu_sort{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    width: 775px;
    background-color: #FAFAFA;
    height: 55px;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}
.menu h4{
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
}
.menu_active{
    background-color: white;
    border-radius: 15px;
    color: #FE5F00;
}
.sort {
    height: 55px;
    width: 240px;
    background-color: #FAFAFA;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sort>span{
    color: #000;
}
.sort p span{
    color: #FE5F00;
}


