nav {
    border-bottom: 1px solid #EDEDED;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.879);
}
.nav_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  
   
}

.nav_logo{
    width: 202px;
    height: 51px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.logo_img{
    width: 35px;
    height: 35px;
}

.logo_name h2{
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1%;
    text-transform: uppercase;
    color: #000
}
.logo_name h3 {
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
}


.aaaaa{
    color: #000;
}